# === Backend ===
ciphersight-backend/venv/
ciphersight-backend/__pycache__/
ciphersight-backend/instance/
ciphersight-backend/.env
ciphersight-backend/*.pt
ciphersight-backend/traffic.mp4

# === Frontend ===
ciphersight-frontend/node_modules/
ciphersight-frontend/.env

# === Build output ===
.dist/

# === IDE ===
.vscode/
*.pyc
